body {
    background: linear-gradient(135deg, #303f9f, #1976d2);
    
    background-image: url('bg2.jpg');
    background-repeat: repeat;
  }
  
  #first{
      margin-top: 5vh;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  #li2, #li1{
    font-size: x-large;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  

  
  .recommendations {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 10px;
  }
  


  h2 {
    margin-top: 0;
    color: #333;
    font-size: 2rem;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    color: #333
  }
  
  #li2, #li1 {
    margin-bottom: 5px;
    line-height: 1.6;
    color: #333
  }
  .recommendations {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 4.5vh; /* Add margin to create space below each section */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  #li1{
    cursor: pointer;
    color: #0051ff;
  }
  
  a{
    color: #0051ff;
  }

  @media (max-width: 500px) {
    background-image{
        width: 500px;
        height: 500px;
     object-fit: fill;
    }
}

@media(max-width: 740px){
    nav{
        font-size: 1.5rem !important;
    }
}
@media(max-width: 450px){
  nav{
      font-size: 1.165rem !important;
  }
}
@media(max-width: 400px){
  nav{
      font-size: 1rem !important;
  }
}